header {
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px 10px;
  background-color: #121212;

  .wrap {
    position: relative;
    display: block;
    width: 100%;
    margin-left: 100px;
    margin-bottom: 20px;
    max-width: 980px;

    .logo {
      display: block;
      width: 250px;
      position: absolute;
      top: 50%;
      color: white;
    }
  }
}
